<div class="voorkeur-form">
    <form action="/voorkeur" method="post">
      <div class="form-control">
        <label for="muzieksoort">Muzieksoort</label>
        <input
          type="text"
          name="muzieksoort"
          id="muzieksoort"
          placeholder="Vul je voorkeur van muziek in"
        />
      </div>
        <button type="submit" class="btn">Zoeken</button>
      </div>
    </form>
  </div>