<header>
    <section>
        <nav>
            <ul>
                <li>
                    <h1><a href="#">Festifinder</a></h1>
                    <a href="#">Mijn lijst</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
    
