<%- include('partials/head'); -%>
<body>
    <%- include('partials/header'); -%>
    <main>
        <h1>Ooops!</h1>
        <p>We can't seem to find the page you are looking for...</p>
    <main>
    <%- include('partials/footer'); -%>
    <script src="../static/scripts/script.js"></script>
</body>

</html>