<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <%- include('partials/header'); -%>

    <div class="inner">

        <h1>Ooops!</h1>
        <p>We can't seem to find the page you are looking for...</p>

    </div>

    <%- include('partials/footer'); -%>
    <script src="../static/scripts/script.js"></script>
</body>

</html>