<%- include('./partials/head.ejs') %>
<body>
    <a href="/" class="link">Go Back</a>
    <p>Login failed.</p>
    <script src="../static/scripts/script.js"></script>
</body>
<%- include('./partials/footer.ejs') %>