<%- include('partials/head'); -%>
<body>
    <%- include('partials/header'); -%>
    <main>
        <section>
            <h2>
                Resultaten
            </h2>
            <p>Resultaten voor: 
            <%= zoekopdracht %>
            </p>
        </section>
    </main>

    <%- include('partials/footer'); -%>
    <script src="../static/scripts/script.js"></script>
</body>

</html>