<%- include('partials/head'); -%>
<body>
    <%- include('partials/header'); -%>
    <main>
       <h2>
            Resultaten
       </h2>
       <p>Resultaten voor: </p>
    </main>

    <%- include('partials/footer'); -%>
    <script src="../static/scripts/script.js"></script>
</body>

</html>