<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') -%>
</head>

<body>

    <%- include('partials/header.ejs') -%>

    <div class="inner">

        <h1><%= title %></h1>


        <form action="/evenementen/zoeken" method="post">
            <div>
                <label for="name">Genre:</label><br>
                <input id="name" type="text" name="name" required>
            </div>
            
            </div>
            <div>
                <label for="Locatie">Locatie</label><br>
                <textarea name="Locatie" id="" cols="30" rows="10"></textarea>
            </div>
            <button>zoeken</button>
        </form>
    </div>

    <%- include('partials/footer.ejs') -%>

</body>

</html>