* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", "Helvetica", Helvetica, sans-serif;
  background: #dfe2f2;
  color: #000000;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

body>section {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.navhome>nav>ul>li {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

body>section.navhome>nav>ul>li>a {
  text-decoration: none;
  border: solid 2px #000000;
  border-radius: 10px;
  padding: 0.5em;
  color: #ffffff;
  background-color: #000000;
  font-weight: 600;
  margin-top: 2em;
}

body>section.navhome>nav>ul>li>a:nth-of-type(2) {
  margin-top: 5em;
  background-color: #9794f2;
  color: #000000;
}

header {
  background-color: #6e6ad9;
}

main {
  margin-left: 5em;
  margin-right: 5em;
}

h2 {
  margin: 0.5em auto;
}

header>section {
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

header>section>h1 {
  text-align: center;
}

header>section>h1>a {
  text-decoration: none;
  color: #000000;
  font-size: 1.5em;
}

header>section>nav>ul>li {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

header>section>nav>ul>li>a {
  text-decoration: none;
  background-color: #9794f2;
  color: #000000;
  border: solid 2px #000000;
  border-radius: 5px;
  padding: 0.2em;
}

.navhome {
  margin-top: 2em;
}

.navhome>nav>ul>li>a {
  text-decoration: none;
  border: solid 2px #000000;
  border-radius: 10px;
  padding: 0.5em;
  color: #ffffff;
  background-color: #000000;
  font-weight: 600;
  margin-top: 2em;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

.inner {
  margin-bottom: 4em;
}

.login-form {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  font-size: 2.2rem;
}

.voorkeur-form {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  font-size: 2.2rem;
}

.voorkeur-form form {
  width: 40%;
}

.login-form form {
  width: 40%;
}

.form-control {
  margin-bottom: 1rem;
  width: 100%;
}

.form-control label {
  display: block;
  margin-bottom: 1rem;
}

.form-control input {
  padding: 0.375rem 0.75rem;
  width: 100%;
  font-size: 1.3rem;
  line-height: 2;
}

.btn {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
}

.link {
  display: inline-block;
  margin-bottom: 1rem;
}